*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/.gitignore
/app/dev/release/app-dev-release.apk
/.idea/caches/build_file_checksums.ser
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/caches/gradle_models.ser
/.idea/jarRepositories.xml
/key.jks
/.idea/misc.xml
/app/dev/release/output.json
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/dictionaries/SmartIntr.xml
/app/test_key.jks
/.idea/vcs.xml
